<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="servicofacil.gabriel.servicofacil">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Telas.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Telas.UsuarioPrestador.MainPrestador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.UsuarioSolicitante.MainSolicitante"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.NovaSenha"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.UsuarioPrestador.LoginPrestador"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.UsuarioSolicitante.LoginSolicitante"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.Sobre"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.TermosDeUso"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.EntreEmContato"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.SplashSaindo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.Notificacao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.Chat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.UsuarioSolicitante.CadastroSolicitante"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.UsuarioPrestador.CadastroPrestador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.EscolhaLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.UsuarioPrestador.EscolherServico"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>